
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Reports</h2><br />
    <p>@Html.ActionLink("Inventory Report", "Inventory", "Reports", null)</p>
    <p>@Html.ActionLink("Sales Report", "Sales", "Reports", null)</p>
</div>

